@Model MusicAudioPlayer.ViewModels.DisplayMusicViewModel

    <div class="playlists-view">
        <div>
            <div class="playlist-entry">
                <img src="@Url.Content(@Model.Myplaylist.imagePath)" height="200" alt="image"> <br> <br>
                <span class="text-color-white">@Model.Musics.Count chansons</span> <br> <br>
                <button class="btn-create text-color-white" style="float:right;">Ajouter une chanson</button>
            </div>
            <h2 class="text-color-white">@Model.Myplaylist.title</h2>
        </div>
       
        <div class="main-music">
            @if(@Model.Musics.Count == 0)
        {
            <p class="text-color-white">Aucune chanson pour le moment</p>

        }
         @foreach(var item in @Model.Musics){
                <div class="main-music-item">
                    <div>
                        <p class="text-color-white">Titre : @item.title</p>
                        <span class="text-color-grey">Artiste : @item.author </span> <br>
                        <span class="text-color-grey">Date de sortie : @item.published</span>
                    </div>
                    <div class="main-music-btn">
                        <button>Editer</button>
                        <button>Supprimer</button>
                        <img src="~/images/play.png" height="50" alt="">
                    </div>
                    
                </div>
            }
        </div>
    </div>