

    <div class="playlists-view">
        <div>

            <div class="playlist-entry">
                <img src="@Url.Content(@Model.Myplaylist.imagePath)" height="200" alt="image"> <br> <br>
                 <span style="font-weight:bold; font-size:16px" class="text-color-grey">@Model.Musics.Count chansons</span> <br> <br> <br>

                <div id="waveform"></div>

                <div  class="player-buttons">
                    <button onclick="play()">Play</button>
                    <button onclick="pause()">Pause</button>
                    <button onclick="toggleMute()">Mute</button>
                    <button onclick="toggleMute()">Unmute</button>
                    <button onclick="skipForward()">Avancer</button>
                </div>
                <br> <br> <br>
               

                @Html.ActionLink("Ajouter une chanson", "Create", "Music", new {Id = @Model.Myplaylist.Id}, new {@class="btn-create text-color-white"})
                 @Html.ActionLink("Supprimer la playlist", "Delete", "Playlist", new {Id = @Model.Myplaylist.Id}, new {@class="btn-delete text-color-white float-right"})
            </div>
            <h2 id="color-white">@Model.Myplaylist.title</h2>

        </div>
       
        <div class="main-music">
            @if(@Model.Musics.Count == 0)
        {
            <p class="text-color-grey">Aucune chanson pour le moment</p>

        }
            <div class="text-color-grey"> 
             @foreach(var item in @Model.Musics){
                    <div class="main-music-item">
                        <div>
                            <p style="font-weight:bold">Titre : @item.title</p>
                            <span>Artiste : @item.author </span> <br>
                            <span>Date de sortie : @item.published</span>
                        </div>
                        <div class="main-music-btn">
                            <button onclick="addToPlayer('@item.file_path')">Ajouter au lecteur</button>
                            @Html.ActionLink("Editer", "Edit", "Music", new {playlistId = @Model.Myplaylist.Id, Id = item.Id} )
                            @Html.ActionLink("Supprimer", "Delete", "Music", new {Id = item.Id, playlistId = @Model.Myplaylist.Id}) 
                        </div>  
                    
                    </div>
                }
            </div>
        </div>
    </div>